@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-clip-text {
  background-clip: text;
}

.gradient-text {
  background-image: linear-gradient(
    to bottom,
    rgba(6, 40, 110, 1),
    rgba(22, 78, 192, 1)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-bg {
  background-image: linear-gradient(
    to bottom,

    rgba(5, 26, 145, 1),
    rgba(6, 28, 147, 0.9),
    rgba(34, 132, 241, 1),
    rgba(31, 128, 235, 1)
  );
}

@layer components {
  .nav-link {
    position: relative;
  }

  .nav-link::after {
    content: "";
    position: absolute;
    left: 5%; /* Align the pseudo-element to the center */
    bottom: -3px;
    width: 120%;
    height: 2px;
    margin-left: -15%; /* Adjust the negative margin to center the underline */
    background-color: #2563eb; /* Initially transparent */
    transition: background-color 0.3s ease; /* Add transition for smooth effect */
  }
  .blended-color {
    color: rgba(15, 58, 172, 1);
  }
}
